<!DOCTYPE html>
<html>
    <head th:replace="fragments/auth :: head(title='Facetale - Kirjaudu sisään')"> </head>
    <body>
        <header th:replace="fragments/auth :: master-head"> </header>
        <main>
            <div id="account-container">
                <div id="account-header">
                    <h1>Tervetuloa Facetalesiin!</h1>
                    <p>Kirjaudu sisään ja tiedät mitä kaverisi puuhaavat, niin helppoa se on.</p>
                </div>
                <div th:if="${(param.fail != null) and (param.fail[0] == 'true')}" id="error-alert">
                    <p>Väärä käyttäjänimi tai salasana.</p>
                </div>
                <div id="account-credentials">
                    <form th:action="@{/api/auth/login}" th:method="POST">
                        <div class="form-group">
                            <input type="text" class="form-element" name="username" required>
                            <div class="floating-form-label">Käyttäjätunnus</div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-element" name="password" required>
                            <div class="floating-form-label">Salasana</div>
                        </div>
                        <p id="alter-authentication-action">Ei vielä käyttäjää? <a
                                th:href="@{/sign-up}">Rekisteröidy</a></p>
                        <input type="submit" class="form-submit-button" value="Kirjaudu sisään" />
                    </form>
                </div>
            </div>
            <div th:replace="fragments/auth :: hint-container"></div>
        </main>
        <footer th:replace="fragments/auth :: master-footer"> </footer>
    </body>
</html>