<!DOCTYPE html>
<html>
    <head>
        <!-- TODO: FIX Thymeleaf insert (we got double head tags now) -->
        <div th:insert="fragments/auth :: head(title='Facetale - Rekisteröidy')"></div>
        <script type="text/javascript">
            window.addEventListener('load', function () {
                var form = document.getElementById("account-credentials-form");
                form.addEventListener("submit", formSubmitListener, false);
                var formGroups = document.getElementsByClassName("form-group");
                for (let i = 0; i < formGroups.length; i++) {
                    const felement = formGroups[i].getElementsByClassName("form-element")[0];
                    felement.addEventListener("click", setFormElementValid, false);
                    felement.addEventListener("input", setFormElementValid, false);
                }
            });

            function formSubmitListener(event) {
                var passwordElement = document.getElementById('sign-up-password');
                var passwordConfirmElement = document.getElementById('sign-up-password-2');
                if (passwordElement.value !== passwordConfirmElement.value) {
                    passwordConfirmElement.classList.add("invalid-value");
                    passwordConfirmElement.setCustomValidity("Salasanat eivät täsmää.");
                    try {
                        passwordConfirmElement.reportValidity();
                    } catch (ex) {
                        // IE Fix. IS IE still relevant?
                        alert("Salasanat eivät täsmää.");
                    }
                    event.preventDefault()
                }
            }

            function setFormElementValid(event) {
                var felement = event.target;
                felement.classList.remove("invalid-value");
                felement.setCustomValidity("");
            }
        </script>
    </head>
    <body>
        <noscript>Your browser does not support JavaScript.</noscript>
        <header th:replace="fragments/auth :: master-head"> </header>
        <main>
            <div id="account-container">
                <div id="account-header">
                    <h1>Tervetuloa Facetalesiin!</h1>
                    <p>Luo uusi käyttäjä.</p>
                </div>
                <!-- WIP div th:if="${(param.fail != null) and (param.fail[0] == 'true')}" id="error-alert">
                    <p>Väärä käyttäjänimi tai salasana.</p>
                </div -->
                <div id="account-credentials">
                    <form th:action="@{/api/auth/sign-up}" th:method="POST" id="account-credentials-form" autocomplete="off">
                        <div class="multi-element-form-group">
                            <div class="form-group form-group-left">
                                <input type="text" class="form-element" name="username" required />
                                <div class="floating-form-element-label">Käyttäjänimi</div>
                            </div>
                            <div class="form-group form-group-right">
                                <input type="text" class="form-element" name="name" required />
                                <div class="floating-form-element-label">Nimi</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-element" name="profileTag" required />
                            <div class="floating-form-element-label">Profiili tagi</div>
                        </div>
                        <div class="form-group">
                            <input type="password" id="sign-up-password" class="form-element" name="password" required />
                            <div class="floating-form-element-label">Salasana</div>
                        </div>
                        <div class="form-group">
                            <input type="password" id="sign-up-password-2" class="form-element" required />
                            <div class="floating-form-element-label">Vahvista salasana</div>
                        </div>
                        <p id="alter-authentication-action">Minulla on jo käyttäjä. <a th:href="@{/login}">Kirjaudu sisään</a></p>
                        <input type="submit" class="form-submit-button" value="Rekisteröidy" />
                    </form>
                </div>
            </div>
            <div th:replace="fragments/auth :: hint-container"></div>
        </main>
        <footer th:replace="fragments/auth :: master-footer"> </footer>
    </body>
</html>