<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/auth :: head(title='Facetale - Rekisteröidy')"></div>
        <script type="text/javascript" th:src="@{/static/js/form-utilities.js}"></script>
        <script type="text/javascript">
            window.addEventListener('load', function () {
                var form = document.getElementById("account-credentials-form");
                form.addEventListener("submit", formSubmitPasswordListener, false);
                var formGroups = document.getElementsByClassName("form-group");
                for (let i = 0; i < formGroups.length; i++) {
                    const felement = formGroups[i].getElementsByClassName("form-element")[0];
                    felement.addEventListener("click", setFormElementValid, false);
                    felement.addEventListener("input", setFormElementValid, false);
                }
            });
        </script>
    </head>
    <body>
        <div th:replace="fragments/auth :: header"></div>
        <main>
            <div id="account-container">
                <div id="account-header">
                    <h1>Tervetuloa Facetalesiin!</h1>
                    <p>Luo uusi käyttäjä.</p>
                </div>
                <div id="account-credentials">
                    <form th:action="@{/api/auth/sign-up}" th:method="POST" th:object="${account}"
                        id="account-credentials-form">
                        <div class="multi-element-form-group">
                            <div class="form-group fg-left">
                                <input type="text" class="form-element fe-credentials-input" th:classappend="${#fields.hasErrors('username')} ? fe-invalid-value : ''" name="username"
                                    th:field="*{username}" autocomplete="username" required />
                                <div class="floating-fe-label">Käyttäjänimi</div>
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fe-invalid-value-message">Error</p>
                            </div>
                            <div class="form-group fg-right">
                                <input type="text" class="form-element fe-credentials-input" th:classappend="${#fields.hasErrors('name')} ? fe-invalid-value : ''" name="name"
                                    th:field="*{name}" autocomplete="name" required />
                                <div class="floating-fe-label">Nimi</div>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fe-invalid-value-message">Error</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-element fe-credentials-input" th:classappend="${#fields.hasErrors('profileTag')} ? fe-invalid-value : ''" name="profileTag"
                                th:field="*{profileTag}" autocomplete="on" required />
                            <div class="floating-fe-label">Profiili tagi</div>
                            <p th:if="${#fields.hasErrors('profileTag')}" th:errors="*{profileTag}" class="fe-invalid-value-message">Error</p>
                        </div>
                        <div class="form-group">
                            <input type="password" id="form-password" class="form-element fe-credentials-input" th:classappend="${#fields.hasErrors('password')} ? fe-invalid-value : ''"
                                name="password" th:field="*{password}" autocomplete="new-password" required />
                            <div class="floating-fe-label">Salasana</div>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fe-invalid-value-message">Error</p>
                        </div>
                        <div class="form-group">
                            <!-- This field will not be send to the server. Only for client side validation to prevent typos. -->
                            <input type="password" id="form-password-2" class="form-element fe-credentials-input"
                                autocomplete="on" required />
                            <div class="floating-fe-label">Vahvista salasana</div>
                        </div>
                        <p id="alter-auth-action">Minulla on jo käyttäjä. <a th:href="@{/login}">Kirjaudu sisään</a></p>
                        <div class="form-submit-button-wrapper">
                            <input type="submit" class="form-submit-button" value="Rekisteröidy" />
                        </div>
                    </form>
                </div>
            </div>
            <div th:replace="fragments/auth :: hint-container"></div>
        </main>
        <footer th:replace="fragments/auth :: master-footer"></footer>
    </body>
</html>