<!DOCTYPE html>
<html lang="fi">
    <head th:fragment="head(title)" th:remove="tag">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <title th:text="${title}">Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/app.css}">
        <script type="text/javascript" th:src="@{/static/js/app.js}" defer></script>
        <script src="//use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous" defer></script>
    </head>
    <body>
        <div th:fragment="master-head" th:remove="tag">
            <noscript>You must have JavaScript enabled for this page to function properly.</noscript>
            <header id="master-head">
                <!-- Left Side -->
                <ul class="nav-action-group">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <img id="mh-logo" th:src="@{/static/images/logo-with-text.png}" alt="logo" />
                        </a>
                    </li>
                </ul>
                <!-- Middle -->
                <ul class="nav-action-group nag-middle" id="mobile-nav-search-group">
                    <li class="nav-item mobile-ni-search-icon">
                        <button type="button" onclick="toggleMobileSearchBar();" class="nav-link ni-action"><i class="fas fa-arrow-left"></i></button>
                    </li>
                    <li class="nav-item ni-search-container">
                        <form th:action="@{/}" th:method="POST" class="ni-search-form">
                            <input type="text" class="ni-search-bar" name="name" placeholder="Etsi käyttäjiä." autocomplete="off" required />
                            <input type="submit" class="form-button" value="Hae" />
                        </form>
                    </li>
                </ul>
                <!-- Righth Side -->
                <ul class="nav-action-group">
                    <li class="nav-item mobile-ni-search-icon">
                        <button type="button" onclick="toggleMobileSearchBar();" class="nav-link ni-action"><i class="fas fa-search"></i></button>
                    </li>
                    <li class="nav-item ni-relative">
                        <div class="ni-account">
                            <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small" alt="Profile picture" />
                            <span onclick="toggleAccountDropdownMenu();" class="fas fa-chevron-down ni-action nia-dropdown-toggle"></span>
                        </div>
                        <div id="ni-account-dropdown-menu">
                            <div class="dm-account">
                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small" alt="Profile picture" />
                                <a href="#" class="dm-account-user-profile">
                                    <h2 th:text="${username}">username</h2>
                                    <h3 th:text="${profileTag}">profileTag</h3>
                                </a>
                            </div>
                            <ul>
                                <li><a href="#" class="nav-link nl-padding"><i class="fas fa-user"></i>Sivuni</a></li>
                                <li><a href="#" class="nav-link nl-padding"><i class="fas fa-user-friends"></i>Kaverit</a></li>
                                <li><a href="#" class="nav-link nl-padding"><i class="fas fa-images"></i>Albumi</a></li>
                                <li><a href="#" class="nav-link nl-padding"><i class="fas fa-cog"></i>Asetukset</a></li>
                                <li>
                                    <form th:action="@{/api/auth/logout}" th:method="POST">
                                        <button type="submit" class="nav-link nl-padding"><i class="fas fa-sign-out-alt"></i>Kirjaudu ulos</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </header>
        </div>
        <main>
            <!-- TODO -->
        </main>
        <footer th:fragment="master-footer" id="master-footer">
            <h3>WORK IN PROGRESS University of Helsinki<br>Web-palvelinohjelmointi projekti, Spring 2019</h3>
        </footer>
    </body>
</html>