<!DOCTYPE html>
<html>
    <head>
        <title>Auth template</title>
    </head>
    <body>
        <div th:fragment="auth-head" th:remove="tag">
            <noscript>You must have JavaScript enabled for this page to function properly.</noscript>
            <header id="master-head">
                <a href="/">
                    <img id="ah-logo" th:src="@{/static/images/logo-with-text.png}" alt="logo" />
                </a>
            </header>
        </div>
        <main>
            <div th:fragment="hint-container" id="hint-container">
                <div class="hint">
                    <i class="fas fa-user-friends fa-2x"></i>
                    <p>Kaverisi sielä missä sinäkin.</p>
                </div>
                <div class="hint">
                    <i class="far fa-comments fa-2x"></i>
                    <p>Viestittele vaivattomasti.</p>
                </div>
                <div class="hint">
                    <i class="fas fa-camera fa-2x"></i>
                    <p>Jaa kuvia muutamalla napin painalluksella.</p>
                </div>
            </div>
        </main>
    </body>
</html>