<!DOCTYPE html>
<html lang="fi">
    <head th:fragment="head(title)" th:remove="tag">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <title th:text="${title}">Title</title>
        <link rel="icon" type="image/png" th:href="@{/static/favicon.png}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/auth.css}">
        <script src="//use.fontawesome.com/releases/v5.8.1/js/all.js"
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            crossorigin="anonymous" defer></script>
    </head>
    <body>
        <div th:fragment="auth-head" th:remove="tag">
            <noscript>You must have JavaScript enabled for this page to function properly.</noscript>
            <header id="master-head">
                <a href="/">
                    <img id="ah-logo" th:src="@{/static/images/logo-with-text.png}" alt="logo" />
                </a>
            </header>
        </div>
        <main>
            <div th:fragment="hint-container" id="hint-container">
                <div class="hint">
                    <i class="fas fa-user-friends fa-2x"></i>
                    <p>Kaverisi sielä missä sinäkin.</p>
                </div>
                <div class="hint">
                    <i class="far fa-comments fa-2x"></i>
                    <p>Viestittele vaivattomasti.</p>
                </div>
                <div class="hint">
                    <i class="fas fa-camera fa-2x"></i>
                    <p>Jaa kuvia muutamalla napin painalluksella.</p>
                </div>
            </div>
        </main>
    </body>
</html>