/* Header */

#master-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e7bd2;
}

#mh-logo {
    margin-left: 10px;
    height: 40px;
}

#mh-nav-actions {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.nav-item {
    display: inline-block;
}

.nav-item:not(:last-child) {
    margin-right: 10px;
}

.nav-item.ni-relative {
    position: relative;
}

.nav-item .nav-dropdown-toggle {
    cursor: pointer;
    padding: 5px;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-item .nav-dropdown-toggle:hover {
    color: #232323;
}

/** TODO FIX*/

.nav-item .nav-user {
    display: flex;
    align-items: center;
}

.nav-item .nav-user img {
    height: 35px;
    padding-right: 5px; /* IE FIX ? USE MARGIN */
    border-radius: 50%;
}

#nav-user-dropdown-menu {
    display: none;
    top: 40px;
    right: 0;
    font-size: 14px;
    text-align: left;
    padding: 5px;
    /*
    width: 20%;*/
    max-width: 300px;
    min-width: 200px;
    position: absolute;
    background-color: #232323;
    /* float: right;*/
    /*z-index: 1;*/
}

.nav-item .nav-dropdown-menu.dm-visible {
    display: block !important;
}

/** TODO **/

.nav-item .nav-dropdown-menu .nav-user-dm-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*  flex-flow: wrap;
    align-items: center;*/
    border-bottom: 2px solid #302f2f;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    word-break: break-word;
    /*
    display: block;*/
}

.nav-item .nav-dropdown-menu .nav-user-dm-profile img {
    height: 35px;
    padding-right: 5px;
    border-radius: 50%;
}

.nav-user-dm-profile .dm-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.nav-user-dm-profile .dm-profile-info h1 {
    font-size: 14px;
    font-weight: 700;
}

.nav-user-dm-profile .dm-profile-info p {
    font-size: 14px;
}

.nav-item .nav-dropdown-menu .al {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: left;
}

.nav-item .nav-dropdown-menu .al svg {
    padding-right: 5px;
}

.nav-item .nav-dropdown-menu .al:hover {
    background-color: #302f2f;
}

/* Footer */

#master-footer {
    background-color: #232323;
}