/* Header */

#master-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e7bd2;
}

#mh-logo {
    height: 40px;
}

/* Navigation bar */

.nav-action-group {
    display: flex;
    align-items: center;
}

.nav-action-group.nag-left {
    margin-left: 10px;
}

.nav-action-group.nag-right {
    margin-right: 10px;
}

.nav-item {
    display: inline-block;
}

.nav-action-group .nav-item:not(:last-child) {
    margin-right: 10px;
}

.nav-item.ni-relative {
    position: relative;
}

.nav-item .ni-action {
    font-size: 1.05em;
    cursor: pointer;
    padding: 5px;
    outline: 0;
}

.nav-item .ni-action:hover {
    color: #232323;
}

.nav-item a:not(.dma-profile-info),
.nav-item button {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: left;
}

.nav-item button {
    width: 100%;
    cursor: pointer;
    border: none;
    background: none;
    outline: 0;
}

.nav-item svg {
    padding-right: 5px;
}

/* Navigation search */

.nav-search-container {
    max-width: 620px;
    flex-grow: 1;
    margin: 0 10%;
}

.nav-search-container .ni-search-form {
    display: flex;
    height: 40px;
    width: 100%;
}

.ni-search-form .ni-search-bar {
    width: 88%;
    outline: 0;
    color: white;
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #232323;
    border-color: #5c5c5c;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    box-sizing: border-box;
    white-space: nowrap;
}

.ni-search-form .ni-search-bar:focus {
    border: 1px solid#7e7e7e;
}

.ni-search-form .ni-search-fsubmit-button {
    flex: 1;
    min-width: 80px;
    color: white;
    background-color: #134370;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ni-search-form .ni-search-fsubmit-button:hover {
    filter: brightness(85%);
}

/* Navigation bar account */

.nav-item .ni-account {
    display: flex;
    align-items: center;
}

.ni-account img,
.dm-account img {
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Navigation bar account dropdown menu */

#ni-account-dropdown-menu {
    display: none;
    position: absolute;
    max-width: 300px;
    min-width: 200px;
    top: 40px;
    right: 0;
    background-color: #232323;
    font-size: 0.9em;
    text-align: left;
    padding: 5px;
    z-index: 2;
}

#ni-account-dropdown-menu .dm-account {
    display: flex;
    border-bottom: 2px solid #302f2f;
    word-break: break-word;
    padding: 10px;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: center;
}

.dm-account img {
    height: 40px;
}

.dm-account .dma-profile-info {
    display: flex;
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
}

.dma-profile-info h1 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
}

.dma-profile-info p {
    line-height: 1.2em
}

#ni-account-dropdown-menu a:not(.dma-profile-info),
#ni-account-dropdown-menu button {
    padding: 12px 16px;
}

#ni-account-dropdown-menu a:not(.dma-profile-info):hover,
#ni-account-dropdown-menu button:hover {
    background-color: #302f2f;
}

/* Footer */

#master-footer {
    background-color: #232323;
}