body {
    background-image: url("../images/blue-background.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
}

/* Header */

#master-head {
    position: relative;
}

#ah-logo {
    padding-top: 6px;
    padding-left: 10px;
    height: 48px;
}

@media only screen and (max-width: 1365px) {
    body {
        background-color: #232323;
        background-image: none;
    }
    #master-head {
        background-color: #1e7bd2;
    }
    #ah-logo {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-left: 0;
    }
}

/* Main */

main {
    position: relative;
}

/* Account */

#account-container {
    font-size: 14px;
    background-color: #232323;
    max-width: 620px;
    margin: 0 auto 50px auto;
}

#ac-header {
    margin: 0 5%;
    padding-top: 20px;
}

#ac-header h1 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.ac-error-alert {
    display: flex;
    height: 46px;
    background-color: #D55246;
    border-radius: 4px;
    margin: 10px 5% -5px 5%;
    justify-content: center;
    align-items: center;
}

/* Account credentials form */

#ac-credentials {
    line-height: 24px;
    padding: 5px 5% 25px 5%;
}

.form-group {
    position: relative;
    margin-top: 30px;
}

@media only screen and (min-width: 500px) {
    .multi-element-form-group {
        display: flex;
    }
    .multi-element-form-group .fg-left {
        margin-right: auto;
        width: 48%;
    }
    .multi-element-form-group .fg-right {
        margin-left: auto;
        width: 48%;
    }
}

.form-element {
    width: 100%;
    outline: 0;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #1e7bd2;
    box-sizing: border-box;
    white-space: nowrap;
}

.form-element.fe-credentials-input {
    height: 46px;
}

.form-element.fe-invalid-value {
    box-shadow: 0 0 0 2px #D55246 !important;
    border-color: #D55246 !important;
}

.form-element:focus {
    box-shadow: 0 0 0 2px #1e7bd2;
}

.floating-fe-label {
    position: absolute;
    color: black;
    top: 11px;
    left: 10px;
    pointer-events: none;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.fe-invalid-value-message {
    color: #D55246;
    word-wrap: break-word;
    padding-top: 5px;
}

.form-element:focus + .floating-fe-label,
.form-element:valid + .floating-fe-label,
.form-element.fe-invalid-value + .floating-fe-label {
    height: 20px;
    top: 0;
    left: 0;
    color: white;
    transform: translate3d(0, -135%, 0);
}

/* Fix floating label position on autofill in most browsers. */

.form-element:-webkit-autofill + .floating-fe-label {
    height: 20px;
    top: 0;
    left: 0;
    color: white;
    transform: translate3d(0, -135%, 0);
}

#alter-auth-action {
    padding-top: 5px;
    padding-bottom: 20px;
}

#alter-auth-action a {
    color: #D55246;
    text-decoration: none;
}

#alter-auth-action a:hover {
    text-decoration: underline;
}

.fsubmit-button-wrapper {
    text-align: right;
}

.fsubmit-button {
    color: white;
    background-color: #1e7bd2;
    cursor: pointer;
    padding: 11px;
    outline: 0;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fsubmit-button:hover {
    filter: brightness(85%);
}

/* Hints */

#hint-container {
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateX(-10%);
}

@media only screen and (max-width: 1650px) {
    #hint-container {
        left: 0;
        transform: none;
    }
}

.hint {
    display: flex;
    align-items: center;
    margin-top: 45px;
    font-size: 16px;
    font-weight: 300;
}

.hint svg {
    padding-right: 10px;
}

@media only screen and (max-width: 1365px) {
    #hint-container {
        position: static;
        max-width: 620px;
        border-top: 2px solid #1e7bd2;
        border-bottom: 2px solid #1e7bd2;
        margin: 0 auto;
        padding-bottom: 45px;
    }
    .hint {
        padding-left: 7%;
    }
}