body {
    background-image: url("../images/blue-background.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
}

/* Header */

#master-head {
    height: 60px;
    width: 100%;
}

#master-head-logo {
    padding-top: 6px;
    padding-left: 6px;
    height: 48px;
}

@media only screen and (max-width: 1365px) {
    body {
        background-color: #232323;
        background-image: none;
    }
    #master-head {
        background-color: #1e7bd2;
    }
    #master-head-logo {
        position: absolute;
        left: 0px;
        right: 0px;
        padding-left: 0px;
        margin: auto;
    }
}

/* Main */

main {
    margin: 60px 10px 80px 10px;
    position: relative;
}

/* Account */

#account-container {
    font-size: 14px;
    background-color: #232323;
    max-width: 620px;
    margin: 0px auto 50px auto;
}

#account-header {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}

#account-header h1 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

#error-alert {
    display: flex;
    height: 46px;
    width: 90%;
    background-color: #D55246;
    border-radius: 4px;
    margin: 10px 5% -5px 5%;
    justify-content: center;
    align-items: center;
}

/* Account credentials form */

#account-credentials {
    line-height: 24px;
    padding: 5px 5% 60px 5%;
}

.form-group {
    position: relative;
    padding: 0px;
    margin-top: 30px;
}

@media only screen and (min-width: 500px) {
    .multi-element-form-group {
        height: 76px;
    }
    .multi-element-form-group .form-group-left {
        float: left;
        width: 48%;
    }
    .multi-element-form-group .form-group-right {
        float: right;
        width: 48%;
    }
}

.form-element {
    height: 46px;
    width: 100%;
    outline: 0px;
    border-radius: 4px;
    padding-left: 10px;
    color: black;
    border: 1px solid #1e7bd2;
    box-sizing: border-box;
    white-space: nowrap;
}

.form-element:focus {
    box-shadow: 0px 0px 0px 2px #1e7bd2;
}

.floating-form-element-label {
    position: absolute;
    color: black;
    top: 11px;
    left: 15px;
    pointer-events: none;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.form-element:focus + .floating-form-element-label, .form-element:valid + .floating-form-element-label {
    height: 20px;
    top: 0px;
    left: 0px;
    color: white;
    transform: translate3d(0, -135%, 0);
}

#alter-authentication-action {
    padding-top: 5px;
    padding-bottom: 20px;
}

#alter-authentication-action a {
    color: #D55246;
    text-decoration: none;
}

#alter-authentication-action a:hover {
    text-decoration: underline;
}

.form-submit-button {
    color: inherit;
    text-align: center;
    background-color: #1e7bd2;
    cursor: pointer;
    float: right;
    padding: 11px;
    outline: 0px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-submit-button:hover {
    filter: brightness(85%);
}

/* Hints */

#hint-container {
    position: absolute;
    top: 0px;
    left: 10%;
    transform: translateX(-10%);
}

@media only screen and (max-width: 1650px) {
    #hint-container {
        left: 0%;
        margin-left: 5px;
        transform: none;
    }
}

.hint {
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.hint p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.hint svg {
    padding-right: 10px;
}

@media only screen and (max-width: 1365px) {
    #hint-container {
        position: static;
        max-width: 620px;
        border-top: 2px solid #1e7bd2;
        border-bottom: 2px solid #1e7bd2;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 45px;
    }
    .hint {
        padding-left: 7%;
    }
}

/* Footer */

#master-footer {
    position: absolute;
    height: 42px;
    width: 100%;
    bottom: 0px;
}

#master-footer h3 {
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}