body {
    background-image: url("../images/blue-background.png");
    background-repeat: repeat-y;
    background-size: 50% 100%;
}

/* Header */

#master-head {
    height: 60px;
    width: 100%;
}

#master-head-logo {
    padding-top: 6px;
    padding-left: 6px;
    height: 48px;
}

@media only screen and (max-width: 1400px) {
    #master-head {
        background-color: #1e7bd2;
    }
    #master-head-logo {
        position: absolute;
        left: 0px;
        right: 0px;
        padding-left: 0px;
        margin: auto;
    }
}

/* Main */

#content {
    margin: 80px 10px 80px 10px;
    position: relative;
}

/* Account container */

#account-container {
    background-color: #232323;
    max-width: 620px;
    margin: 0px auto 50px auto;
}

#account-header {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}

#account-header h1 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

#account-credentials {
    line-height: 24px;
    min-height: 270px;
    padding-top: 5px;
}

/* Account credentials form */

.form-group {
    position: relative;
    width: 90%;
    padding: 0;
    margin: 30px 0px 10px 5%;
}

.form-element {
    height: 46px;
    width: 100%;
    border-radius: 4px;
    padding-left: 10px;
    color: black;
    border: 1px solid #1e7bd2;
    box-sizing: border-box;
    white-space: nowrap;
}

.form-element:focus {
    box-shadow: 0 0 0 3px#1e7bd2;
}

.floating-form-label {
    position: absolute;
    font-size: 14px;
    color: black;
    top: 11px;
    left: 15px;
    pointer-events: none;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.form-element:focus+.floating-form-label, .form-element:valid+.floating-form-label {
    height: 20px;
    top: 0px;
    left: 0px;
    color: white;
    transform: translate3d(0, -135%, 0);
}

#alter-authentication-action {
    margin-left: 6%;
    padding-bottom: 20px;
}

#alter-authentication-action a {
    color: #D55246;
    text-decoration: none;
}

#alter-authentication-action a:hover {
    text-decoration: underline;
}

.form-submit-button {
    color: inherit;
    text-align: center;
    background-color: #1e7bd2;
    cursor: pointer;
    float: right;
    margin-right: 5%;
    padding: 11px;
    outline: 0;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-submit-button:hover {
    filter: brightness(85%);
}

/* TODO HERE  */

.tooltip-container {
    position: absolute;
    top: 0;
    left: 10%;
    /**
    margin-top: 130px;*/
    transform: translateX(-10%);
}

@media only screen and (max-width: 1650px) {
    .tooltip-container {
        left: 0%;
        transform: none;
        margin-left: 20px;
    }
}

.tooltip {
    margin-bottom: 45px;
    margin-top: 45px;
    align-items: center;
    display: flex;
}

.tooltip p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

.tooltip svg {
    padding-right: 10px;
}

/* Ids */

@media only screen and (max-width: 1400px) {
    .tooltip-container {
        position: static;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 620px;
        border-top: 2px solid #1e7bd2;
        border-bottom: 2px solid #1e7bd2;
    }
    .tooltip {
        padding-left: 7%;
    }
    body {
        background-color: #232323;
        background-image: none;
        /*
        background-size: 100% 100%;*/
    }
}

/* Footer. */

.footer-area {
    height: 42px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-text {
    font-size: 14px;
    font-weight: 400;
    padding-left: 5px;
}