.column.primary {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 1500px) {
    .column.primary {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .column.primary {
        width: 96%;
        min-width: 0;
        margin: 0 auto 20px auto;
    }
}

.list-title h1 {
    color: black;
    font-weight: 700;
    font-size: 1.4em;
}

.list-title h2 {
    color: black;
    font-weight: 400;
    font-size: 1em;
}

.results-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    color: white;
    margin-top: 40px;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.results-bar p {
    padding: 5px;
}

.results-bar svg,
.common-list-item .ft-button svg {
    padding-right: 5px;
}

.common-list {
    background-color: white;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #d8d8d8;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.common-list .common-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #232323;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px 20px 20px 20px;
    margin-bottom: 20px;
}

.common-list-item .ft-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 0.9em;
    text-decoration: none;
    background-color: #1e7bd2;
}

.common-list-item .ft-button a {
    padding: 10px 0;
}

.common-list-item .ft-button.ftb-cancel {
    background-color: #D55246;
}

.common-list-item .ft-button.ftb-accept {
    background-color: #51965c;
}

.user-info-container {
    display: flex;
    margin: 5px 0;
}

.user-info-container h3 {
    font-weight: 400;
    font-size: 1em;
}

.user-info-container .user-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    word-break: break-all;
}

.user-profile-info .upi-username {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.user-profile-info .upi-username:hover {
    border-color: #1e7bd2;
}

.user-profile-info .upi-inner-wrapper span {
    font-weight: 400;
}

.friend-data-container {
    margin: 40px 0;
}

.friend-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.friend-actions .ft-button {
    margin: 2px 0 2px 5px;
}