/* Common css for all pages. */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

html, body, ul {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: white;
    min-width: 300px;
    min-height: 320px;
    font-size: 100%;
}

main {
    /* IE fix (IE doesn't support main.) */
    display: block;
    /* Height of footer */
    margin-bottom: 46px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.show-element {
    display: block !important;
}

ul {
    list-style-type: none;
}

/* Header */

#master-head {
    height: 60px;
    width: 100%;
}

/* Forms */

.form-input-element {
    width: 100%;
    outline: 0;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid #1e7bd2;
    box-sizing: border-box;
    white-space: nowrap;
}

.form-input-element:focus {
    box-shadow: 0 0 0 2px #1e7bd2;
}

.form-button {
    color: white;
    background-color: #1e7bd2;
    padding: 11px;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-button:hover {
    filter: brightness(85%);
}

.fsubmit-button-wrapper {
    text-align: right;
}

/* Footer */

#master-footer {
    display: flex;
    position: absolute;
    height: 46px;
    width: 100%;
    bottom: 0;
    align-items: center;
}

#master-footer h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 10px;
}