/* Common css for all pages. */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: white;
    min-width: 300px;
}

/* IE fix (IE doesn't support main.) */

main {
    display: block;
}

p {
    line-height: 24px;
}