.column.primary {
    width: 67%;
    /* background-color: red;*/
}

.column.secondary {
    display: flex;
    justify-content: flex-end;
    /* background-color: green;*/
}

/* Primary column */

#posts-container {
    width: 70%;
    min-width: 620px;
    /* TODO CHECK HEIGHT */
    min-height: 1000px;
    border: 1px solid #d8d8d8;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 1000px) {
    .column.primary {
        width: initial;
        background-color: #232323;
    }

    .column.secondary {
        background-color: #232323;
    }

    #posts-container {
        border: none;
        width: 100%;
        min-width: 0;
    }
}

#posts-header {
    display: flex;
    height: 46px;
    background-color: #134370;
    border-bottom: 2px solid #1e7bd2;
    border-radius: 4px 4px 0 0;
    align-items: center;
    justify-content: center;
}

#posts-header h1 {
    color: #f9f9f9;
    font-weight: 400;
    font-size: 1.2em;
}

.commentbox {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.commentbox img {
    margin-right: 10px;
}

.commentbox form {
    flex: 1;
}

.commentbox .commentbox-textarea {
    color: white;
    font-family: inherit;
    font-size: 0.95em;
    background-color: inherit;
    width: 99.5%;
    border: none;
    border-bottom: 2px solid #134370;
    outline: none;
    overflow: hidden;
    padding: 0 0.25% 1% 0.25%;
    margin-top: 2px;
    margin-bottom: 10px;
    resize: none;
}

.commentbox .commentbox-textarea:focus {
    border-bottom: 2px solid white;
}

.commentbox .comment {
    flex: 1;
    font-size: 0.95em;
    word-break: break-word;
}

.commentbox .comment-author-info {
    color: white;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    vertical-align: text-top;
}

.commentbox .comment-author-info span {
    font-weight: 400;
}

.commentbox .comment-author-info:hover {
    border-color: #1e7bd2;
}

/* TODO HERE */

.commentbox .comment-text-content {
    white-space: pre-wrap;
    border-right: 2px solid #1e7bd2;
    padding-right: 4px;
    margin-bottom: 5px;
}

.commentbox .comment-info-wrapper {
    margin-bottom: 20px;
}

/**
.commentbox .comment-info-wrapper {
    font-weight: 700;
}*/

.comment-info-wrapper .flex-space-between-wrapper {
    margin-bottom: 10px;
}

.comment-info-wrapper h3 {
    font-size: 1em;
    padding-right: 4px;
}




/**
.comment-info-wrapper .ci-top-wrapper {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}*/

.comment-info-wrapper .comment-actions .ft-button {
    padding: 6px;
}

.comment-actions .ft-button.expand-comment-section-button {
    background: none;
    padding: 3px;
    border-bottom: 2px solid #232323;
}

.comment-actions .ft-button.expand-comment-section-button:hover {
    border-color: #1e7bd2;
    filter: none;
}

/* New post */

.new-comment {
    background-color: #232323;
    box-sizing: border-box;
}

.new-comment.nc-post {

    padding: 10px 10%;
}

@media screen and (max-width: 600px) {
    .new-comment.nc-post {
        padding: 10px 5%;
    }
}

/* Posts */

.posts-list {
    background-color: #232323;
}

/**
#create-new-post h2 {
    color: white;
    font-weight: 700;
    font-size: 0.95em;
    background-color: #232323;
    border-bottom: 1px solid #134370;
    padding: 6px 20px;
}*/

/* Secondary column */

#user-profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 450px;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    background-color: #232323;
}

#user-profile-wrapper {
    width: 200px;
    margin: 1em;
}

#user-profile-wrapper img {
    height: 200px;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #user-profile-container {
        max-width: none;
        max-height: none;
    }

    #user-profile-wrapper {
        width: 300px;
    }

    #user-profile-wrapper img {
        height: 300px;
    }
}

#user-profile-wrapper h1 {
    font-size: 1.05em;
    font-weight: 700;
    line-height: 1em;
}

#user-profile-wrapper h2 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

#user-profile-wrapper>p {
    color: #bad7f1;
    line-height: 1.5em;
    font-size: 1em;
}

/* User profile actions */

.user-profile-actions {
    margin-top: 10px;
}

.user-profile-actions .flex-space-between-wrapper li {
    flex: 1;
}

.user-profile-actions .flex-space-between-wrapper li:not(:last-child) {
    margin-right: 5%;
}

.user-profile-actions .flex-space-between-wrapper a {
    padding: 12px 0;
    justify-content: center;
}

.user-profile-actions .nl-container {
    position: relative;
}

.user-profile-actions .nav-link {
    font-size: 0.9em;
    background-color: #1e7bd2;
    margin-top: 10px;
}

.user-profile-actions .nav-link.nl-disabled {
    background-color: gray;
    cursor: not-allowed;
}

.user-profile-actions .nav-link:not(.nl-disabled):hover {
    filter: brightness(85%);
}

.user-profile-actions button {
    width: 100%;
    justify-content: center;
}

.user-profile-actions button.nl-disabled:hover {
    filter: none;
}

/* Tooltip for disable nav link */

.user-profile-actions .nl-container .nl-disabled-tooltip {
    display: none;
    position: absolute;
    color: black;
    line-height: 1.2em;
    background: white;
    font-size: 0.9em;
    max-width: 100%;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box;
    bottom: 50px;
    word-break: break-word;
    z-index: 1;
}

.user-profile-actions .nl-container .nl-disabled-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    border: 5px solid;
    border-color: white transparent transparent transparent;
}

.user-profile-actions .nl-container .nav-link.nl-disabled:hover+.nl-disabled-tooltip {
    display: block;
}