<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/app :: head(title='Facetale')"></div>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/app.css}">
    </head>
    <body>
        <div th:replace="fragments/app :: master-head"></div>
        <main>
            <p style="color:black;">Tervetuloa <span th:text="${username}">user</span></p>
            <p style="color:black;">Friends</p>
            <p style="color:black;">User search</p>
            <p style="color:black;">Album</p>
            <p style="color:black;">Profile picture </p>
            <p style="color:black;">"Wall"</p>
            <p style="color:black;">Comments</p>
            <p style="color:black;">Likes</p>
        </main>
        <footer th:replace="fragments/app :: master-footer"></footer>
    </body>
</html>