<!DOCTYPE html>
<html lang="fi">
    <head>
        <div th:replace="fragments/app :: head(title='Facetale - Search')"></div>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/list-styles.css}">
    </head>
    <body>
        <div th:replace="fragments/app :: master-head"></div>
        <main>
            <div id="main-container">
                <div class="column primary">
                    <div class="list-title">
                        <h1 th:inline="text">Hakutulokset (Yhteensä [[${users.getTotalElements()}]])</h1>
                        <h2 th:inline="text">Näytetään [[${users.getContent().size()}]]</h1>
                    </div>
                    <div class="results-bar"
                        th:styleappend="${users.getTotalElements()} == 0 ? 'background-color:#D55246;' : 'background-color:#1e7bd2;'">
                        <p th:if="${users.getTotalElements()} == 0">Yhtään hakutuloksia ei löytynyt</p>
                        <p th:if="${users.getTotalElements()} > 0"><i class="fas fa-users"></i>Käyttäjät</p>
                    </div>
                    <ul th:if="${users.getTotalElements()} > 0" class="common-list">
                        <li th:each="user : ${users}" class="common-list-item">
                            <div class="user-info-container">
                                <img th:src="@{${@imageService.getUserProfilePictureLocation(user)}}" class="profile-picture-small"
                                    alt="Profile picture" />
                                <div class="user-profile-info">
                                    <a th:href="@{/users/{user}(user=${user.profileTag})}" th:inline="text" class="upi-username"> [[${user.name}]]</a>
                                    <h3>@[[${user.profileTag}]]</h3>
                                </div>
                            </div>
                            <a th:href="@{/users/{user}(user=${user.profileTag})}" class="ft-button"><i class="fas fa-user fa-sm"></i>Profiiliin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/app :: master-footer"></footer>
    </body>
</html>