<!DOCTYPE html>
<html lang="fi">
    <head>
        <div th:replace="fragments/app :: head(title='Facetale')"></div>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/user-profile.css}">
        <script type="text/javascript" th:src="@{/static/js/comments.js}" defer></script>
    </head>
    <body>
        <div th:replace="fragments/app :: master-head"></div>
        <main>
            <div id="main-container">
                <div class="column secondary">
                    <div id="user-profile-container">
                        <div id="user-profile-wrapper">
                            <img th:src="@{/static/images/Portrait_placeholder.png}" alt="Profile picture" />
                            <h1 th:text="${urlname}">name</h1>
                            <h2 th:text="${urlusername}">username</h2>
                            <p><i class="fas fa-user fa-sm"></i> Oma profiili</p>
                            <ul class="user-profile-actions">
                                <div class="flex-space-between-wrapper">
                                    <li><a href="#" class="nav-link"><i class="fas fa-images"></i>Albumi</a></li>
                                    <li>
                                        <div class="nl-container">
                                            <a href="#" class="nav-link nl-disabled"><i class="fas fa-user-friends"></i>Kaverit</a>
                                            <p class="nl-disabled-tooltip">Tooltip text Tooltip text</p>
                                        </div>
                                    </li>
                                </div>
                                <li>
                                    <form th:action="@{/}" th:method="POST">
                                        <div class="nl-container">
                                            <button type="submit" class="ft-button nav-link nl-disabled"><i class="fas fa-user-plus"></i>Lähetä
                                                kaveripyyntö</button>
                                            <p class="nl-disabled-tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante
                                                lacus, mollis vel libero vel, luctus hendrerit odio. Proin quis bibendum velit. </p>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column primary">
                    <div id="posts-container">
                        <div id="posts-header">
                            <h1><i class="fas fa-th-large fa-sm"></i> Julkaisut</h1>
                        </div>
                        <div class="new-comment">
                            <div class="commentbox">
                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small" alt="Profile picture" />
                                <form th:action="@{/}" class="comment" th:method="POST">
                                    <textarea rows="1" placeholder="What's up?" class="comment-textarea" oninput="resizeCommentBoxTextarea(this);"
                                        required></textarea>
                                    <div class="fsubmit-button-wrapper">
                                        <input type="submit" class="ft-button" value="Lähetä" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="posts-list">
                            <!-- PRIMARY -->
                            <li class="commentbox">
                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small" alt="Profile picture" />
                                <div class="comment">
                                    <a href="#" class="comment-author-info">Test <span>@test</span></a>
                                    <p class="comment-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam enim, luctus at tempor nec, laoreet a augue. Cras ac ligula sem. Donec facilisis justo sagittis nisl mollis aliquet. Integer vel elit quis lorem consequat ultricies. Integer lacus felis, porta ac nunc id, suscipit congue purus. Suspendisse potenti.</p>
                                    <div class="comment-info-wrapper">
                                        <div class="flex-space-between-wrapper">
                                            <h3>6 Tykkäystä</h3>
                                            <h3>30.4.2019 15:00</h3>
                                        </div>
                                        <div class="comment-actions">
                                            <button type="button" class="ft-button">Tykkää</button>
                                            <button type="button" class="ft-button">Kommentoi</button>
                                            <button type="button" class="ft-button expand-comment-section-button">6 Kommenttia <i
                                                    class="fas fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <!-- REPLIES -->
                                    <div class="comment-replies">
                                        <div class="new-comment">
                                            <div class="commentbox">
                                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small"
                                                    alt="Profile picture" />
                                                <form th:action="@{/}" class="comment" th:method="POST">
                                                    <textarea rows="1" placeholder="Uusi kommentti." class="comment-textarea"
                                                        oninput="resizeCommentBoxTextarea(this);" required></textarea>
                                                    <div class="fsubmit-button-wrapper">
                                                        <input type="submit" class="ft-button" value="Kommentoi" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <ul class="posts-list">
                                            <li class="commentbox">
                                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small"
                                                    alt="Profile picture" />
                                                <div class="comment">
                                                    <a href="#" class="comment-author-info">Test <span>@test</span></a>
                                                    <p class="comment-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam enim, luctus at tempor nec, laoreet a augue. Cras ac ligula sem. Donec facilisis justo sagittis nisl mollis aliquet. Integer vel elit quis lorem consequat ultricies. Integer lacus felis, porta ac nunc id, suscipit congue purus. Suspendisse potenti.</p>
                                                </div>
                                            </li>
                                            <li class="commentbox">
                                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small"
                                                    alt="Profile picture" />
                                                <div class="comment">
                                                    <a href="#" class="comment-author-info">Test <span>@test</span></a>
                                                    <p class="comment-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam enim, luctus at tempor nec, laoreet a augue. Cras ac ligula sem. Donec facilisis justo sagittis nisl mollis aliquet. Integer vel elit quis lorem consequat ultricies. Integer lacus felis, porta ac nunc id, suscipit congue purus. Suspendisse potenti.</p>
                                                </div>
                                            </li>
                                            <li class="commentbox">
                                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small"
                                                    alt="Profile picture" />
                                                <div class="comment">
                                                    <a href="#" class="comment-author-info">Test <span>@test</span></a>
                                                    <p class="comment-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam enim, luctus at tempor nec, laoreet a augue. Cras ac ligula sem. Donec facilisis justo sagittis nisl mollis aliquet. Integer vel elit quis lorem consequat ultricies. Integer lacus felis, porta ac nunc id, suscipit congue purus. Suspendisse potenti.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- REPLIES END  -->
                                </div>
                            </li>
                            <!-- PRIMARY -->
                            <li class="commentbox">
                                <img th:src="@{/static/images/Portrait_placeholder.png}" class="profile-picture-small" alt="Profile picture" />
                                <div class="comment">
                                    <a href="#" class="comment-author-info">Test <span>@test</span></a>
                                    <p class="comment-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam diam enim, luctus at tempor nec, laoreet a augue. Cras ac ligula sem. Donec facilisis justo sagittis nisl mollis aliquet. Integer vel elit quis lorem consequat ultricies. Integer lacus felis, porta ac nunc id, suscipit congue purus. Suspendisse potenti.</p>
                                    <div class="comment-info-wrapper">
                                        <div class="flex-space-between-wrapper">
                                            <h3>6 Tykkäystä</h3>
                                            <h3>30.4.2019 15:00</h3>
                                        </div>
                                        <div class="comment-actions">
                                            <button type="button" class="ft-button">Tykkää</button>
                                            <button type="button" class="ft-button">Kommentoi</button>
                                            <button type="button" class="ft-button expand-comment-section-button">6 Kommenttia <i
                                                    class="fas fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/app :: master-footer"></footer>
    </body>
</html>